header {
    // margin: 0px;
    // .logo {
    //     padding: 32px 24px 0px;
    //     font-size: 32pt;
    // }
    // .header_menu {

    // }
    background-color: #ffe5ca;
    .header {
        margin: auto;
        font-family: $font_noto;
        height: 10%;
        font-size: 10rem !important;
        color: #f57f11;

        .logo {
            padding: 32px 24px 0px;
            font-size: 32px;
        }
        .wrap_rl {
            width: 100%;
            height: 100%;
            align-items: center;
            ._col {
                @include media('tb') {
                    width: 100%;
                }
            }
        }
        ul {
            gap: 20rem;
            display: flex;
            justify-content: center;
        }
        li {
            display: inline;
            // padding: 0px 30px;
            font-size: 15px;
            gap : 15rem;

            &:last-child {
                padding-right: 0;
            }
            a {
                &:hover {
                    cursor: pointer;
                text-shadow: 2px 2px 2px #161515;
                }
                font-weight: 800;
                // text-shadow: 1px 3px 2px #161515;
            }
        }
    }
}