header {
    // margin: 0px;
    // .logo {
    //     padding: 32px 24px 0px;
    //     font-size: 32pt;
    // }
    // .header_menu {

    // }
    .header {
        font-family: $font_noto;
        height: 20vh;
        font-size: 10rem !important;

        .logo {
            padding: 32px 24px 0px;
            font-size: 32px;
        }

        li {
            display: inline;
            padding: 0px 30px;
            font-size: 19px;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}